<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>MarBall Comco | <%- title %></title>
<link rel="stylesheet" href="/material/css/materialize.min.css"/>
<link rel="stylesheet" href="/fontawesome/font-awesome.css"/>
<link rel="stylesheet" href="/assets/css/marballcomco.css">


<script src="/jquery/jquery.min.js"></script>
<script src="/material/js/materialize.min.js"></script>
<script src="/assets/js/marballcomco.js"></script>